<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Convert illustrations to look like pixel art.">
    <title>Pumpix</title>
    <link href="pumpix_static/theme/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="pumpix_static/theme/style.css" rel="stylesheet">
    <script src="pumpix_static/theme/script.js"></script>
</head>

<body>


    <div class="flex-container">

        <div class="flex-sidebar bordered">
            <a href="/pumpix"><h1>pumpix</h1></a>
            <input type="image" id="info-button" class="button-img" src="/pumpix_static/theme/icons/infoblack.png"/>
            <input type="image" id="darkmode-button" class="button-img" src="/pumpix_static/theme/icons/moon.png"/>
            <hr>
           
            <form action="./pumpix" method="post" enctype="multipart/form-data">
            <input type="file" style="display: none;" id="image" name="image" accept="image/png,image/jpeg,image/webp">
            <input class="dialog-button bordered" type="button" value="Browse..." onclick="document.getElementById('image').click();" />
            {% if org_image %}
                <br>
                Using Previous image!
                <input type="hidden" id="img_path" name="img_path"  value="{{ org_image }}">
            {% endif %}

            <ul class=form-grid>
                <li>
                    <label for="k">No. of colours</label>
                    <select class="dialog-button bordered" id="k" name="k">
                        <option value="2" {% if k==2 %} selected="selected" {% endif %}>2</option>
                        <option value="4" {% if (not k) or (k==4) %} selected="selected" {% endif %}>4</option>
                        <option value="8" {% if k==8 %} selected="selected" {% endif %}>8</option>
                        <option value="16" {% if k==16 %} selected="selected" {% endif %}>16</option>
                    </select>
                </li>

                <li>
                    <label for="scale">Pixel Size</label>
                    <select class="dialog-button bordered" id="scale" name="scale">
                        <option value="1" {% if scale==1 %} selected="selected" {% endif %}>1</option>
                        <option value="2" {% if (not scale) or (scale==2) %} selected="selected" {% endif %}>2</option>
                        <option value="3" {% if scale==3 %} selected="selected" {% endif %}>3</option>
                        <option value="4" {% if scale==4 %} selected="selected" {% endif %}>4</option>
                    </select>
                </li>


                <li>
                    <label for="blur">Image Smoothing</label>
                    <select class="dialog-button bordered" id="blur" name="blur">
                        <option value="0" {% if (not blur) or (blur==0) %} selected="selected" {% endif %}>None</option>
                        <option value="50"  {% if blur==50 %} selected="selected" {% endif %}>Low</option>
                        <option value="100" {% if blur==100 %} selected="selected" {% endif %}>Moderate</option>
                        <option value="200" {% if blur==200 %} selected="selected" {% endif %}>Strong</option>
                    </select>
                </li>

                <li>
                    <label for="erode">Border Emphasis</label>
                    <select class="dialog-button bordered"  id="erode" name="erode">
                        <option value="0" {% if (not erode) or (erode==0) %} selected="selected" {% endif %}>None</option>
                        <option value="1" {% if erode==1 %} selected="selected" {% endif %}>Low</option>
                        <option value="2" {% if erode==2 %} selected="selected" {% endif %}>Moderate</option>
                    </select>
                </li>

                <li>
                    <label for="saturation">Add Saturation</label>
                    <select class="dialog-button bordered" id="saturation" name="saturation">
                        <option value="0" {% if (not saturation) or (saturation==0) %}  selected="selected"{% endif %}>None</option>
                        <option value="1.5" {% if saturation==1.5 %} selected="selected" {% endif %}>Low</option>
                        <option value="2.0" {% if saturation==2.0 %} selected="selected" {% endif %}>Moderate</option>
                        <option value="2.5"{% if saturation==2.5 %} selected="selected" {% endif %}>High</option>
                    </select>
                </li>


                <li>
                    <label for="contrast">Add Contrast</label>
                    <select class="dialog-button bordered" id="contrast" name="contrast">
                        <option value="0" {% if (not contrast) or (contrast==0) %}  selected="selected"{% endif %}>None</option>
                        <option value="1.25" {% if contrast==1.25 %} selected="selected" {% endif %}>Low</option>
                        <option value="1.5" {% if contrast==1.5 %} selected="selected" {% endif %}>Strong</option>
                    </select>
                </li>
            </ul>
            <button class="dialog-button bordered" type="submit">Submit Image</button>
            </form>
        </div>

    <div class="flex-imagespace bordered">
        {% if result %}
            <img class="main-img" src="{{ result }}">
            <img class="main-img" src="{{ org_image }}">
            {% if colors %}
                <hr>
                {% for color in colors %}
                    <span class="image-color" style="
                        background-color:{{ color }};
                        border: 3px solid {{ color }}; 
                        border-radius: 5px;
                    ">{{ color }}</span>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>

    <div class="info hidden popup bordered draggable">
        <span class="popup-header">
            <button id=info-close-button class="close-button bordered">X</button> 
       </span>
        {% if config %}
            <h3>Instance Configuration</H3>
            {% for key, value in config.items() %}
                {{ key }}: {{ value }}<br>
            {% endfor %}
        {% endif %}

        <h2>What is Pumpix?</h2>
        <p> Pumpix is a hardened, opinionated fork of
        <a href="https://github.com/tsutsuji815/pixel_convert">Monopro Pixel Convert</a>
        to support modern python releases and packages. The application
        allows for the rasterisation of images in a minimalistic,
        easy to use way.<br><br>

        Pumpix doesn't aim to be the best tool for this purpose, rather
        a simple one thats easy to enjoy. If you need somthing with a
        more rounded feature set, consider <a href="https://app.dithermark.com">Dithermark</a>,
        its very cool :)
        </p>

        <h3>How does Pumpix work?</h3>
        <p>
        Pumpix has been commented extensively to explain its operation,
        if you are new to opensource, flask and image processing its
        quite a good place to get started! see the
        <a href="https://github.com/Bibostin/pumpix">Repo</a>. Please use issues for requests / bugs.
        </p>

        <h3>Credits</h3>
        <ul>
        <li><a href="https://monopro.org">Tsutsuj</a>, for the original Flask web app</li>
        <li>Lax for the cute name</li>
        </ul>
    </div>



    {% if error %}
        <div class="error popup bordered  draggable">
            <span class="popup-header">                                             
                <button id=error-close-button class="close-button bordered">X</button> 
            </span> 
            <h3>Pumpix has encountered an error!</h3> 
            {{ error }}
        </div>
    {% endif %}

</div>
</body>
</html>
