<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Convert illustrations to look like pixel art.">
    <title>Pumpix</title>
    <link href="pumpix_static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="pumpix_static/css/bootstrap.min.css" rel="stylesheet">
    <link href="pumpix_static/css/original.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="pumpix_static/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container">

        <div class="navbar-header">
            <a href="./" class="navbar-brand">
                <img src="pumpix_static/favicon.ico">
                Pumpix
            </a>
        </div>

        <div class="collapse navbar-collapse" id="nav-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#info">Info</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="modal fade in" id="info" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h2 class="modal-title" id="modal-label">Info</h2>
            </div>

            <div class="modal-body">

                {% if config %}
                    <h3>Instance Configuration</H3>
                    {% for key, value in config.items() %}
                        {{ key }}: {{ value }}<br>
                    {% endfor %}
                {% endif %}

                <h3>What is Pumpix?</h3>
                <p> Pumpix is a hardened, opinionated fork of
                <a href="https://github.com/tsutsuji815/pixel_convert">Monopro Pixel Convert</a>
                to support modern python releases and packages. The application
                allows for the rasterisation of images in a minimalistic,
                easy to use way.<br><br>

                Pumpix doesn't aim to be the best tool for this purpose, rather
                a simple one thats easy to enjoy. If you need somthing with a
                more rounded feature set, consider <a href="https://app.dithermark.com">Dithermark</a>,
                its very cool :)
                </p>

                <h3>How does Pumpix work?</h3>
                <p>
                Pumpix has been commented extensively to explain its operation,
                if you are new to opensource, flask and image processing its
                quite a good place to get started! see the
                <a href="REPOGOESHERE">RepoLinkHere</a>. Please use issues for requests / bugs.
                </p>

                <h3>Credits</h3>
                <ul>
                    <li><a href=-"https://monopro.org">Tsutsuj</a>, for the original Flask web app</li>
                    <li>Lax for the cute name</li>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-3">

            <form action="./" method="post" enctype="multipart/form-data">
               <div class="form-group">
                    <input type="file" id="image" name="image" accept="image/png,image/jpeg">
                </div>

                {% if org_image %}
                <div class="form-group col-xs-12">
                    Using Previous image!
                    <input type="hidden" id="img_path" name="img_path"  value="{{ org_image }}">
                </div>
                {% endif %}

                <div class="form-group col-xs-6">
                    <label class="control-label" for="k">No. of colours</label>
                    <select class="form-control" id="k" name="k">
                        <option value="2" {% if k==2 %} selected="selected" {% endif %}>2</option>
                        <option value="4" {% if (not k) or (k==4) %} selected="selected" {% endif %}>4</option>
                        <option value="8" {% if k==8 %} selected="selected" {% endif %}>8</option>
                        <option value="16" {% if k==16 %} selected="selected" {% endif %}>16</option>
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label for="scale">Pixel Size</label>
                    <select class="form-control" id="scale" name="scale">
                        <option value="1" {% if scale==1 %} selected="selected" {% endif %}>1</option>
                        <option value="2" {% if (not scale) or (scale==2) %} selected="selected" {% endif %}>2</option>
                        <option value="3" {% if scale==3 %} selected="selected" {% endif %}>3</option>
                        <option value="4" {% if scale==4 %} selected="selected" {% endif %}>4</option>
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label for="blur">Image Smoothing</label>
                    <select class="form-control" id="blur" name="blur">
                        <option value="0" {% if (not blur) or (blur==0) %} selected="selected" {% endif %}>None</option>
                        <option value="50"  {% if blur==50 %} selected="selected" {% endif %}>Low</option>
                        <option value="100" {% if blur==100 %} selected="selected" {% endif %}>Moderate</option>
                        <option value="200" {% if blur==200 %} selected="selected" {% endif %}>Strong</option>
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label for="erode">Border Emphasis</label>
                    <select class="form-control" id="erode" name="erode">
                        <option value="0" {% if (not erode) or (erode==0) %} selected="selected" {% endif %}>None</option>
                        <option value="1" {% if erode==1 %} selected="selected" {% endif %}>Low</option>
                        <option value="2" {% if erode==2 %} selected="selected" {% endif %}>Moderate</option>
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label for="saturation">Add Saturation</label>
                    <select class="form-control" id="saturation" name="saturation">
                        <option value="0" {% if (not saturation) or (saturation==0) %}  selected="selected"{% endif %}>None</option>
                        <option value="1.5" {% if saturation==1.5 %} selected="selected" {% endif %}>Low</option>
                        <option value="2.5"{% if saturation==2.5 %} selected="selected" {% endif %}>High</option>
                    </select>
                </div>

                <div class="form-group col-xs-6">
                    <label for="contrast">Add Contrast</label>
                    <select class="form-control" id="contrast" name="contrast">
                        <option value="0" {% if (not contrast) or (contrast==0) %}  selected="selected"{% endif %}>None</option>
                        <option value="1.25" {% if contrast==1.25 %} selected="selected" {% endif %}>Low</option>
                        <option value="1.5" {% if contrast==1.5 %} selected="selected" {% endif %}>Strong</option>
                    </select>
                </div>

                <div class="form-group col-xs-12">
                    <label><input name="alpha" type="checkbox" value="1" {% if alpha %} checked="checked" {% endif %}> Preserve Image Opacity</label>
                </div>

                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-primary col-lg-12">Submit Image</button>
                </div>
            </form>
        </div>

        {% if result %}
        <div class="col-md-8 add-margin-top">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a href="#result" class="nav-link" data-toggle="tab">Result</a>
                </li>
                <li class="nav-item">
                    <a href="#original" class="nav-link" data-toggle="tab">Original</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="result" class="tab-pane active">
                    <img class="img-responsive" src="{{ result }}">
                    {% if colors %}
                    <div class="add-margin-top">
                        {% for color in colors %}
                        <span class="label" style="background-color: {{ color }};">{{ color }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div id="original" class="tab-pane">
                    <img class="img-responsive" src="{{ org_image }}">
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<br><br>

{% if error %}
        <div class="modal fade in" id="alert" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            {{ error }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% if error %}
<script>
    $(document).ready(function (){
        $('#alert').modal();
    });
</script>
{% endif %}

</body>
</html>
